#inputBox {
  position: absolute;
  bottom: 0;
  left:0;
  width: 100%;
  box-sizing: content-box;
  overflow-x: hidden;
  background-color: var(--light-mode-bg-color);
}
.inputArea {
  background-color: #ffffff00;

}
#inputMessage {
  height: auto;
  max-height: 400px;
  min-height: 40px;
  padding: 8px;
  border: none;
  outline: none;
}
.send {
  width: 50px;
  height: 40px;
}
#messages {
  height: calc(100vh - 78px);
  scrollbar-arrow-color: rgba(240, 248, 255, 0);
  background-color: #16171800;
  padding: 0 12px;
}

#messages::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#messages {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}