#inputBox {
  position: absolute;
  bottom: 0;
  left:0;
  width: 100%;
  box-sizing: content-box;
}
.inputArea {
  background-color: #ffffff00;

}
#messages {
  height: calc(100vh - 78px);
  scrollbar-arrow-color: rgba(240, 248, 255, 0);
  background-color: #16171800;
  padding: 0 12px;
}

#messages::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#messages {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}